﻿@{
    ViewBag.Title = "Home Page";
}
<img src="~/Content/Imiges/Icons/map silknet.png" />
<div class="WholeVideoWrapper"  style="bottom: 772px;left: 1055px;">
    <img class="videoICon" src="~/Content/Imiges/Icons/videoicon.png" />
    <div data-url="/Content/Videos/egvipte.mp4" data-name="name" class="VideoHideenWrapper">
        <div class="TubnailWrapper">
            <img class="VideoMainImige" src="~/Content/Imiges/VideoTubnails/2.png" />         
        </div>
        <img class="playsign" src="~/Content/Imiges/Icons/VideoPLaySign.png" />
    </div>
</div>
<div class="WholeVideoWrapper" style="bottom: 981px;left: 1267px;">
    <img class="videoICon" src="~/Content/Imiges/Icons/videoicon.png" />
    <div data-url="/Content/Videos/india.mp4" data-name="name" class="VideoHideenWrapper">
        <div class="TubnailWrapper">
            <img class="VideoMainImige" src="~/Content/Imiges/VideoTubnails/4.png" />
        </div>
        <img class="playsign" src="~/Content/Imiges/Icons/VideoPLaySign.png" />
    </div>
</div>
<div class="WholeVideoWrapper"style="bottom: 1237px;left: 1113px;">
    <img class="videoICon" src="~/Content/Imiges/Icons/videoicon.png" />
    <div data-url="/Content/Videos/israeli.mp4" data-name="name" class="VideoHideenWrapper">
        <div class="TubnailWrapper">
            <img  class="VideoMainImige" src="~/Content/Imiges/VideoTubnails/8.png" />
        </div>
        <img class="playsign" src="~/Content/Imiges/Icons/VideoPLaySign.png" />
    </div>
</div>
<div class="WholeVideoWrapper"style="bottom: 1328px;left: 673px;">
    <img class="videoICon" src="~/Content/Imiges/Icons/videoicon.png" />
    <div data-url="/Content/Videos/samxret amerika.mp4" data-name="name" class="VideoHideenWrapper">
        <div class="TubnailWrapper">
            <img  class="VideoMainImige" src="~/Content/Imiges/VideoTubnails/6.png" />
        </div>
        <img class="playsign" src="~/Content/Imiges/Icons/VideoPLaySign.png" />
    </div>
</div>
<div class="WholeVideoWrapper" style="bottom: 1636px;left: 494px;">
    <img class="videoICon" src="~/Content/Imiges/Icons/videoicon.png" />
    <div data-url="/Content/Videos/USA.mp4" data-name="name" class="VideoHideenWrapper">
        <div class="TubnailWrapper">
            <img class="VideoMainImige" src="~/Content/Imiges/VideoTubnails/5.png" />
        </div>
        <img class="playsign" src="~/Content/Imiges/Icons/VideoPLaySign.png" />
    </div>
</div>
