﻿@model NatiGeo.Models.DAL.User[]

@{
    Layout = null;
}
<script type="text/template" id="Results">
  
        <div class="PopUp">

            <div class="RetingPopUp">
                <div class="HeaderWrapper">
                    <span class="SearchTopSpan">ქულები</span>

                    <div class="SearchWrapper">
                        <input type="text" placeholder="ძებნა" id="SearchFild" />
                        <img class="searchicon" src="/Content/Imiges/Icons/SearchICon.png" />
                    </div>
                    <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png">
                </div>
                <div  class="ResultBody">
                    <table class="TableResults">

                        <tr class="tableheade">
                            <td></td>
                            <td>სახელი და გვარი</td>
                            <td>ქულა</td>
                            <td>თარიღი</td>
                            <td>დრო</td>
                        </tr>
@for (var i = 0; i < Model.Length; i++)
{
                        switch (i)
                        {
                            case 0:
                                {
                                    <tr class="TableFirsts">
                                        <td class="FirstRow"><span class="TableFirstspan">@(i + 1)</span></td>
                                        <td>@Model[i].Name</td>
                                        <td>@Model[i].Score</td>
                                        <td>@Model[i].GameStartTime1.Value.ToString("yyyy/MM/dd - HH:mm")</td>
                                        @if ((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds < 10)
                                        {
                                            <td>@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Minutes ):0@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds)</td>
                                        }
                                        else
                                        {
                                            <td>@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Minutes ): @((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds)</td>
                                        }
                                       

                                    </tr>
                                    <tr class="Spacertr"></tr>
                                    break;
                                }

                            case 1:
                                {
                                    <tr class="TableFirsts">
                                        <td class="FirstRow"><span class="TableSeCondspan">@(i + 1)</span></td>
                                        <td>@Model[i].Name</td>
                                        <td>@Model[i].Score</td>
                                        <td>@Model[i].GameStartTime1.Value.ToString("yyyy/MM/dd - HH:mm")</td>
                                        @if ((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds < 10)
                                        {
                                            <td>@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Minutes ):0@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds)</td>
                                        }
                                        else
                                        {
                                            <td>@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Minutes ): @((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds)</td>
                                        }

                                    </tr>
                                    <tr class="Spacertr"></tr>
                                    break;
                                }

                            case 2:
                                {
                                    <tr class="TableFirsts">
                                        <td class="FirstRow"><span class="TableTherdSpan">@(i + 1)</span></td>
                                        <td>@Model[i].Name</td>
                                        <td>@Model[i].Score</td>
                                        <td>@Model[i].GameStartTime1.Value.ToString("yyyy/MM/dd - HH:mm")</td>
                                        @if ((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds < 10)
                                        {
                                            <td>@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Minutes ):0@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds)</td>
                                        }
                                        else
                                        {
                                            <td>@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Minutes ): @((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds)</td>
                                        }

                                    </tr>
                                    <tr class="Spacertr"></tr>
                                    break;
                                }

                            default:
                                {
                                    <tr class="TableFirsts">
                                        <td class="FirstRow"><span class="TaableEls">@(i + 1)</span></td>
                                        <td>@Model[i].Name</td>
                                        <td>@Model[i].Score</td>
                                        <td>@Model[i].GameStartTime1.Value.ToString("yyyy/MM/dd - HH:mm")</td>
                                        @if ((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds < 10)
                                        {
                                            <td>@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Minutes ):0@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds)</td>
                                        }
                                        else
                                        {
                                            <td>@((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Minutes ): @((Model[i].GameFinishTime1 - Model[i].GameStartTime1).Value.Seconds)</td>
                                        }

                                    </tr>
                                    <tr class="Spacertr"></tr>
                                    break;
                                }
                        }
}
                    </table>
                </div>
            </div>
        </div>
    


</script>