﻿@font-face {
    font-family: 'mrgvloavni_caps';
    src: url('../fonts/bpg_mrgvlovani_caps_1.ttf') format('truetype');
}

@font-face {
    font-family: 'mrgvlovani';
    src: url('../fonts/bpg_mrgvlovani_5.ttf') format('truetype');
}

html {
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    min-width: 320px;
    overflow: hidden;
    font-family: mrgvloavni_caps;
}

video {
    width: 1004px !important;
    height: inherit !important;
}
/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

#MainDiv {
    position: relative;
}

    #MainDiv img {
        image-rendering: optimizeSpeed;
        overflow: hidden;
    }

.header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0px;
    z-index: 250;
}

    .header > div:first-of-type {
        width: 90%;
        margin: 0 auto;
    }

.HeadLogos {
    display: inline-block;
}

    .HeadLogos > a:first-of-type {
        margin-right: 60px;
    }
.mobile-navbar-icon {
    display:none;
    width: 50px;
    height: 50px;
    background: #121318;
    position: absolute;
    top: 17px;
    z-index: 500;
    transition: 0.5s;
}
    .mobile-navbar-icon > span {
        width: 33px;
        height: 4px;
        display: block;
        background: #fcd603;
        margin: 24px auto;
        transition: 0.5s;
    }

        .mobile-navbar-icon:before {
            content: '';
            width: 33px;
            height: 4px;
            display: block;
            background: #fcd603;
            position: absolute;
            top: 11px;
            left: 8px;
            transition: 0.5s;
            transform: rotate(0);
        }

        .mobile-navbar-icon:after {
            content: '';
            width: 33px;
            height: 4px;
            display: block;
            background: #fcd603;
            position: absolute;
            bottom: 9px;
            left: 8px;
            transition: 0.5s;
            transform: rotate(0);
        }

.pcnavbar {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: right;
}

    .pcnavbar li {
        display: inline-block;
        color: white;
        padding: 6px 13px;
        border: solid 1px;
        border-radius: 17px;
        margin-left: 8px;
        cursor: pointer;
        transition: 0.3s;
    }

        .pcnavbar li:hover {
            background-color: #fdd209;
            border-color: #fdd209;
            color: black;
        }

    .pcnavbar > li:last-of-type {
        background-color: #fdd209;
        border-color: #fdd209;
        color: black;
    }

.campaigndiv {
    width: 227px;
    height: 218px;
    display: inline-block;
}

    .campaigndiv span {
        display: block;
        text-align: center;
        margin-top: 6px;
    }

    .campaigndiv > span:first-of-type {
        color: rgb(253, 210, 9);
    }

    .campaigndiv > span:last-of-type {
        color: white;
    }

.cmapigndivwrapper {
    width: 100%;
    position: absolute;
    bottom: 47px;
}

    .cmapigndivwrapper > div:first-of-type {
        width: 90%;
        margin: 0 auto;
    }

.freemanImg {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.SocIcons {
    width: 114px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

    .SocIcons a {
        margin: 0 auto;
        height: 33px;
        width: 32px;
        display: inline-block;
        background-position: 0 29px;
    }

        .SocIcons a:hover {
            background-position: 0 -3px;
        }

.fb {
    background-image: url('Imiges/Icons/Fb.png');
}

.tw {
    background-image: url('Imiges/Icons/twitter.png');
}

.you {
    background-image: url('Imiges/Icons/you.png');
}

.WholeVideoWrapper {
    position: relative;
    width: 320px;
    height: 210px;
    z-index: 200;
}

    .WholeVideoWrapper span {
        /*color: rgb(253, 210, 9);
font-size: 19px;
position: absolute;
right: 75px;*/
        color: rgb(253, 210, 9);
        font-size: 19px;
        position: absolute;
        right: 118px;
    }

.VideoHideenWrapper {
    display: none;
}

.VideoMainImige {
    width: 205px;
    height: 160px;
    border: 3px solid rgb(252, 214, 3);
    border-radius: 13px;
    position: absolute;
    right: 0px;
    bottom: -4px;
    cursor: pointer;
}

.videoICon {
    position: absolute;
    bottom: 0px;
    left: 0px;
    -ms-transform: scale(0.6); /* IE 9 */
    -webkit-transform: scale(0.6); /* Safari */
    transform: scale(0.6); /* Standard syntax */
    transition: 0.4s;
}

.TubnailWrapper {
    height: 168px;
    width: 298px;
    position: absolute;
    left: -30px;
    border-radius: 10px;
    bottom: 20px;
}

.playsign {
    position: absolute;
    right: 139px;
    top: 103px;
}

.AboutProject {
    display: inline-block;
    float: right;
    margin-right: 6%;
    cursor: pointer;
}

    .AboutProject:hover div {
        background-position: 0px 25px;
    }

    .AboutProject span {
        position: relative;
        bottom: 7px;
        font-size: 14px;
        color: white;
        text-decoration: underline;
    }

    .AboutProject div {
        width: 25px;
        height: 25px;
        background-image: url('Imiges/Icons/ProjectVideo.png');
        display: inline-block;
    }

.creator {
    float: right;
    text-decoration: none;
    color: white;
    margin-right: 2%;
}

    .creator:hover {
        text-decoration: none;
        color: white;
    }

.VideoiConActive {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1); /* Standard syntax */
}

.ContentWrapper {
    width: 1004px;
    height: 643px;
    display: block;
    margin: 2% auto 0px;
    z-index: 550;
}

.PopUpVideo {
    /*position: fixed;
top: 0px;
width: 100%;
height: 100%;*/
}

    .PopUpVideo video {
        border-radius: 9px;
    }

    .PopUpVideo span {
        font-family: mrgvlovani;
        color: white;
        font-size: 19px;
        position: relative;
        left: 7px;
    }

.PopUpBack {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: black;
    opacity: 0.95;
    z-index: 250;
}

.PopUp {
    z-index: 900;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.VideoCloseBut {
    float: right;
    position: relative;
    top: 45px;
    right: 17px;
    z-index: 999;
}

.PopUpCloseBut {
    cursor: pointer;
}

.identificationPopUp {
}

.LoginWrapper {
    position: relative;
    width: 450px;
    height: 360px;
    background-color: white;
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 22px;
}

.HeaderWrapper {
    height: 48px;
    background-color: #1c1d22;
    position: relative;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

    .HeaderWrapper span {
        color: white;
        position: absolute;
        left: 24px;
        top: 14px;
    }

    .HeaderWrapper img {
        position: absolute;
        right: 17px;
        top: 10px;
    }

.InputGroupWrapper {
    width: 395px;
    margin: 0px auto;
    margin-top: 33px;
}

    .InputGroupWrapper span {
        display: block;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .InputGroupWrapper input {
        width: 100%;
        display: block;
        height: 44px;
        border: 1px solid #e1e1e1;
        border-radius: 20px;
        padding-left: 15px;
        color: #3d3d41;
    }

.BottomGroup {
    width: 395px;
    margin: 0px auto;
    margin-top: 27px;
}

.LinkToRules {
    width: 82px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 12px;
}

.BottomGroup button {
    float: right;
    width: 155px;
    height: 42px;
    color: #0c0d12;
    background-color: rgb(252, 214, 3);
    border: medium none;
    border-radius: 45px;
}

.lightheader {
    font-size: 19px;
    display: block;
    text-align: center;
    margin-top: 30px;
}

.LightMain {
    display: block;
    width: 385px;
    margin: 0px auto;
    text-align: center;
    font-family: mrgvlovani;
    margin-top: 25px;
}

    .LightMain span {
        color: #206db6;
    }

.LightPacket a {
    display: block;
    background-color: #206db6;
    width: 127px;
    padding: 8px 18px;
    color: white;
    text-decoration: none;
    margin: 45px auto 0px;
    border-radius: 19px;
}

#FinalStartbut {
    display: block;
    margin: 50px auto 0px;
    width: 150px;
    height: 50px;
    background-color: rgb(252, 214, 3);
    border: medium none;
    border-radius: 30px;
}

.giftChouseWrapper {
    position: relative;
    width: 450px;
    height: 901px;
    background-color: white;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 22px;
}

.giftchousetop {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 18px;
    padding-top: 26px;
    margin-bottom: 19px;
}

.GiftWrapper {
    width: 384px;
    margin: 15px auto;
    position: relative;
    cursor: pointer;
}

.gifttext {
    background-color: rgb(255, 222, 0);
    padding: 14px 22px;
    border-radius: 29px;
    position: absolute;
    top: 29px;
    left: 74px;
    width: 310px;
    text-align: center;
}

.giftChousen {
    position: absolute;
    right: 0px;
    width: 42px;
    top: 7px;
    display: none;
}

.GiftWrapper:hover .giftChousen {
    display: block;
    opacity: 0.7;
}

.ActiveGift .giftChousen {
    display: block;
    opacity: 1 !important;
}

.giftbuuttonWrapper {
    width: 371px;
    margin: 15px auto;
    position: relative;
    cursor: pointer;
    height: 118px;
}

    .giftbuuttonWrapper button {
        float: right;
        width: 156px;
        height: 45px;
        border: medium none;
        background-color: rgb(252, 214, 3);
        border-radius: 41px;
        margin-right: 12px;
    }

.giftbootomwrapper {
    height: 40px;
    position: absolute;
    bottom: 0px;
}

    .giftbootomwrapper span {
        font-size: 9px;
        display: inline-block;
        width: 326px;
        position: relative;
        top: 7px;
        left: 8px;
    }

.error .errorspan {
    display: inline;
}

.error button {
    border: 1px solid red;
}

.errorspan {
    color: red;
    font-size: 10px;
    position: absolute;
    right: 23px;
    top: 49px;
    display: none;
}

.QestionWrapper {
    width: 1028px;
    margin: 10% auto 0px;
    position: relative;
    height: 500px;
}

.QestionInnerWrapper {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 19px;
}

.Qestion {
    width: 715px;
    margin: 0px auto;
}

.QountDown {
    width: 245px;
    margin: 0px auto;
    padding-top: 30px;
    margin-bottom: 50px;
}

    .QountDown span {
        color: #fcd603;
        margin-left: 5px;
        font-size: 34px;
    }

.QestionQounter {
    display: inline-block;
    padding: 48px 63px;
    background-color: white;
    border-radius: 106px;
    border: solid 5px #fcd603;
    font-size: 33px;
    position: absolute;
    top: -48px;
    left: -66px;
}

.Unswearswrapper {
    margin-top: 40px;
}

.Unswear {
    width: 350px;
    height: 100px;
    display: inline-block;
    position: relative;
    background-color: #d7d7d7;
    border-radius: 15px;
    cursor: pointer;
}

    .Unswear:hover {
        background-color: #fcd603;
    }

    .Unswear span {
        display: block;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

.Rules {
    width: 900px;
    height: 570px;
    background-color: white;
    border-radius: 17px;
    margin: 7% auto 0px;
    position: relative;
}

.RulesText {
    display: block;
    width: 91%;
    margin: 0 auto;
    margin-top: 29px;
    font-family: mrgvlovani;
    line-height: 22px;
}

#RulesStart {
    margin: 8px auto 0px;
    display: block;
    width: 165px;
    height: 50px;
    border-radius: 30px;
    background-color: #fcd603;
    color: black;
    border: none;
}

.RulesHead {
    color: #fcd603 !important;
    font-size: 18px;
}

.telpohone {
    position: absolute;
    right: 17px;
    bottom: 11px;
}

    .telpohone span {
        color: #3a8dd5;
        font-size: 22px;
        margin-left: 12px;
    }

.AboutPopUp {
    width: 900px;
    background-color: white;
    border-radius: 20px;
    margin: 7% auto 0px;
    height: 500px;
}

.AboutTop {
    width: 92%;
    margin: 15px auto 0px;
    margin-bottom: 64px;
}

    .AboutTop span {
        display: inline-block;
        width: 641px;
        float: right;
        font-size: 12px;
    }

    .AboutTop img {
        position: relative;
        top: 9px;
    }

.AboutVideos {
    width: 97%;
    margin: 0px auto;
}

.AboutVideo {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 190px;
}

.AboutVideoImige {
    width: 170px;
    position: relative;
    top: 5px;
}

.AbpotVideoAnonnc {
    display: block;
}

.AboutVideo {
    cursor: pointer;
}

    .AboutVideo .Top {
        display: block;
        text-align: center;
        color: #e9cb02;
        padding-top: 6px;
    }

    .AboutVideo .bot {
        display: block;
        text-align: center;
        color: white;
        font-size: 12px;
    }

    .AboutVideo div {
        background-color: #121212;
        padding-bottom: 5px;
    }

.AboutVideoPlaySign {
    position: absolute;
    top: 50px;
    left: 70px;
}

.VideoPopUpHeader {
    margin-bottom: 5px;
}

.GiftEbout {
    height: 735px;
    
}

    .GiftEbout .giftchousetop {
        display: none;
    }

.error1 input {
    border-color: red;
}

.Score {
    width: 72%;
    margin: 0px auto;
    margin-top: 53px;
    padding-bottom: 16px;
}

.BigCounter {
    background-color: #fcd708;
    padding: 23px 29px;
    border-radius: 76px;
    font-size: 21px;
    margin-left: 20px;
    margin-right: 15px;
}

.EndTime .BigCounter {
    padding: 24px 15px;
    margin-left: 63px;
}
.FirstPopUp {
    width: 440px;
    height: 440px;
    margin: 9% auto 0px;
    margin-top: 11%;
    /*background-color: white;*/
    border-radius: 260px;
    border: 1px solid #fcd708;
    position: relative;
    background-image: url('Imiges/Icons/map silknet.png');
background-position: -78px -253px;}
.FirstPopTopSpan
{
   display: block;
text-align: center;
margin-top: 50px;
position: absolute;
top: 61px;
left: 57px;
font-size: 23px;
color:#fcd708;
}
.FirstPopBottom
{
    width: 78%;
display: block;
text-align: center;
position: absolute;
font-size: 12px;
left: 39px;
top: 157px;
color:white;
}
#FirstButton
{
   background-color: rgb(252, 215, 8);
border: medium none;
width: 110px;
height: 40px;
border-radius: 51px;
position: absolute;
bottom: 45px;
left: 158px;
}
.RetingPopUp
{
    width: 700px;
background-color: white;
border-radius: 18px;
height: 525px;
margin: 9% auto 0px;
}
.SearchWrapper
{
    width: 200px;
position: relative;
margin: 0px auto;
top: 12px;
}
#SearchFild
{
background-color: transparent;
border: 1px solid #fcd708;
height: 30px;
border-radius: 10px;
width: 200px;
padding-left: 10px;
color:white;

}
.searchicon
{
   top: 4px !important;
right: 7px !important;
}
.TableFirstspan
{
   width: 73px;
background-color: rgb(252, 215, 8);
border-radius: 85px;
padding: 25px 31px;
display: block;
}
.FirstRow
{

}
.TableSeCondspan
{
    width: 66px;
background-color: rgb(252, 215, 8);
border-radius: 85px;
padding: 21px 30px;
display: block;
position: relative;
left: 3px;
}
.TableTherdSpan
{
  width: 60px;
background-color: rgb(252, 215, 8);
border-radius: 85px;
padding: 17px 27px;
display: block;
position: relative;
left: 6px;
}
.ResultBody
{
   position: relative;
height: 90%;
overflow: auto;
}
.TableResults
{
    width:90%;
    margin:0 auto;
    margin-top: 5px;
    height:100%;
   
}
.TableResults tr
{
  text-align: center;

}
.tableheade
{
    font-size: 12px;
}
}
.TableResults {
}
.TableFirsts {
    background-color: #edecec;
}
.TaableEls
{
    background-color: black;
border-radius: 85px;
display: block;
position: relative;
left: 21px;
padding: 5px 3px;
width: 32px;
color: white;
}
.Spacertr
{
   height:3px;
}
.SearchTopSpan
{
  color: #fcd708 !important;
}
.MobileVideoWrapper 
{
    display:none;
}
.MobileVideo
{
    position:relative;
}
.MobileVideo .MobTubn
{
    width:100%;
}
.Mobplaysign
{
    position: absolute;
top: 36%;
left: 49%;
}
.GiftEbout .GiftWrapper
{
    cursor:inherit;
}

@media(max-width:1366px) {
    .HeadLogos img {
        width: 150px;
    }

        .HeadLogos img:last-of-type {
            width: 180px;
        }

    .campaigndiv {
        width: 190px;
    }

        .campaigndiv img {
            width: 190px;
        }

    .freemanImg {
        width: 300px;
    }

    .Rules {
        margin: 3% auto 0px;
    }

    .LoginWrapper {
        margin-top: 9%;
    }

    .giftimg {
        width: 105px;
    }

    .GiftWrapper {
  margin: 0px auto;
        
    }

    .gifttext {
        top: 25px;
    }

    .GiftEbout {
        height: 584px;
    }

    .giftChouseWrapper {
        margin-top: 3%;
    }

    .ContentWrapper {
        height: 500px;
    }

    .PopUpVideo span {
        left: 56px;
    }

    .VideoCloseBut {
        right: 69px;
    }
    .giftchousetop {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    margin-bottom: -12px;
}
    .giftbuuttonWrapper {
    width: 371px;
    margin: 2px auto;
    position: relative;
    cursor: pointer;
    height: 118px;
}
    .giftChouseWrapper {
    position: relative;
    width: 450px;
    height: 704px;
    background-color: white;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 22px;
}
    .GiftEbout .GiftWrapper
    {
        margin:4px auto;
    }
    .GiftEbout
    {
        height: 572px;
    }
    .RetingPopUp
    {
        margin-top:5%;
    }
    .FirstPopUp
    {
        margin-top:7%;
    }
}

@media (max-width:960px) {
    .HeadLogos > a:first-of-type {
        margin-right: 15px;
    }

    .HeadLogos img:last-of-type {
        width: 115px;
    }

    .pcnavbar li {
        padding: 5px 10px;
        font-size: 14px;
        margin: 4px 4px;
    }
}

@media (max-width:767px) {
    /* Header and Navigation*/
    .header {
        top: 0;
    }

    .HeadLogos {
        float: right;
        margin-top: 25px;
    }
    .mobile-navbar-icon{
        display:block;
    }
    .mobile-navbar-opened .mobile-navbar-icon>span{
    transform: scale(0);
}
    .mobile-navbar-opened .mobile-navbar-icon:before{
    transform: rotate(45deg);
    top: 23px;
    left: 8px;
}

    .mobile-navbar-opened .mobile-navbar-icon:after{
    transform: rotate(-45deg);
    bottom: 23px;
    left: 8px;
}
    .mobile-navbar-opened .pcnavbar{ transform:translateX(0); }
    .pcnavbar {
        height: 100vh;
        top: 0;
        left: 0;
        position: absolute;
        width: 200px;
        padding-top: 75px;
        background: #121318;
        transform: translateX(-100%);
        transition: 0.5s;
    }

        .pcnavbar > li {
            width: 144px;
            text-align: center;
            display: block;
            border: none;
            margin: 15px auto;
        }

    .HeadLogos > a {
    }

        .HeadLogos > a > img {
        }

    .HeadLogos img:last-of-type {
        width: 90px;
    }

    /* Popups */
    .WholeVideoWrapper {
        display: none;
    }

    .GiftWrapper {
        width: 100%;
        position: relative;
    }

    .giftimg {
        width: 30%;
    }

    .gifttext {
        width: 75%;
        font-size: 12px;
        padding: 8px 8px;
        left: 21%;
        top: 35px;
    }

    .Rules {
        overflow: scroll;
        padding-bottom: 25px;
    }

    .RulesText {
        font-size: 12px;
        margin: 15px;
    }

    .telpohone {
        position: relative;
        left: -25px;
        bottom: -15px;
        float: right;
    }
    
    .Login{}
    .Login>form{
    padding: 15px;
}
    .InputGroupWrapper{
        width: 100%;
        margin-top: 15px;
        }
    .BottomGroup{
    width: 100%;
}
    
    .PopUp > div {
        width: 90%;
    }
    /* Campaign Wrapper */
    .cmapigndivwrapper {
        display: none;
    }
    /* Moorgan Freeman */
    .freemanImg {
        display: none;
    }

    /* Footer */
    .SocIcons {
        width: 70px;
    }

    .AboutProject {
        display: none;
    }

    .creator {
        visibility: hidden;
    }

        .creator > img {
            visibility: visible;
        }
        .GiftEbout 
        {
                height: 660px;
        }
    .LightMain {
        width:100%;
    }
    .FirstPopUp
    {
            width: 300px !important;
    height: 300px;
    margin-top: 112px;
    }
    .FirstPopTopSpan
    {
           top: 34px;
    left: 9px;
    margin-top: 0;
    }
    .FirstPopBottom
    {
        font-size: 9px;
    top: 98px;
    }
    #FirstButton
    {
            font-size: 12px;
    left: 100px;
    bottom: 20px;
    }
    .TableResults {
    font-size: 10px;
}
    .TableFirstspan {
        width: 49px;
    background-color: rgb(252, 215, 8);
    border-radius: 85px;
    padding: 16px 21px;
    display: block;
    }
    .TableSeCondspan {
    width: 39px;
    background-color: rgb(252, 215, 8);
    border-radius: 85px;
    padding: 13px 5px;
    display: block;
    position: relative;
    left: 5px;
}
    .TableTherdSpan {
    width: 31px;
    background-color: rgb(252, 215, 8);
    border-radius: 85px;
    padding: 8px 12px;
    display: block;
    position: relative;
    left: 10px;
}
    .TaableEls {
    background-color: black;
    border-radius: 85px;
    display: block;
    position: relative;
    left: 14px;
    padding: 5px 3px;
    width: 23px;
    color: white;
}
#SearchFild {
    background-color: transparent;
    border: 1px solid #fcd708;
    height: 30px;
    border-radius: 10px;
    width: 128px;
    padding-left: 10px;
    color: white;
}
.SearchWrapper {
    width: 124px;
    position: relative;
    margin: 0px auto;
    top: 10px;
}
.SearchTopSpan
{
      color: #fcd708 !important;
    left: 7px !important;

}
.giftbootomwrapper{
    width: 95%;
    bottom: 7px;
}
.giftbootomwrapper span {
   width: 90%;
}
.giftbootomwrapper {
    height: 40px;
    position: absolute;
    bottom: 30px;
}
.Unswear {
     width: 100%;
    height: 46px;
    margin-bottom: 14px;
}
.Unswear span
{
    width:100%;
}
.Qestion {
   width: 90%;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.QestionQounter {
          background-color: #fcd603;
    padding: 16px 29px;
    top: -36px;
    left: 21px;
}
.giftbuuttonWrapper {
      width: 97%;
}
.QountDown 
{
margin: inherit;
    position: absolute;
    top: 1px;
    right: 0;
    width: inherit;
    font-size: 14px;
    display: inline-block;
    width: 152px;
    bottom: 22px;
    background-color: #ffde00;
    border-radius: 20px;
    height: 65px;
    font-size: 11px;
    text-align: center;
    padding: 8px;
    font-weight: 500;
    position: absolute;
    top: -28px;
    right: 18px;
}
.Time
{
          display: block;
    text-align: center;
    /* position: relative; */
    font-size: 15px;
    color: black !important;
}
#Timer
{
    color:black !important;
}
.Score {
    width: 90%;
    margin: 0px auto;
    margin-top: 43px;
    padding-bottom: 16px;
}
.MobileVideoWrapper
{
display: block;
position: absolute;
top: 13%;
width: 100%;}
video
{
    width:100% !important;
}
.VideoCloseBut
{
    right: 8px;
}
}
