﻿html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url('Imiges/Icons/map silknet.png');
    background-size: cover;
    background-position: center;
}

.video-container {
    position: absolute;
    max-width: 1200px;
    max-height: 675px;
    display: block;
    margin: auto;
    margin-top: 7%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#video {
    position: absolute;
    display: inline-block;
    width: 100%;
    z-index: 505;
}

.buttons {
    position: absolute;
    top: 0;
}

button {
}

#myCanvas {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    /*height: 100%;*/
}

@media (max-width: 1024px) {
    .video-container {
        margin-top: 0;
    }
}
