﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story of God</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
    <script>var U = '@Url.Content("/")'</script>
    <meta name="author" content="BetterFly | DDB Tbilisi">
    <meta property="og:url" content="http://storyofgod.ge/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="გათამაშება დაიწყო!" />
    <meta property="og:description" content="„Silknet“-ისა და „National Geographic Channel“-ის ერთობლივი გათამაშება დაიწყო! ეწვიეთ ვებ -გვერდს  www.storyofgod.ge  და ჩაერთეთ გათამაშებაში!" />
    <meta property="og:image" content="http://storyofgod.ge/Content/Imiges/share.png" />   
    <link rel="shortcut icon" href="http://storyofgod.ge/favicon.ico" />
    <link href="~/Content/perfect-scrollbar.min.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div>
            <div class="HeadLogos">
                <a href="http://natgeotv.com/" target="_blank">  <img src="~/Content/Imiges/Icons/NatGeoico.png" /></a>
                <a href="http://silknet.com/" target="_blank">
                    <img src="~/Content/Imiges/Icons/SilkNetIco.png" />
                </a>
            </div>
            <a class="mobile-navbar-icon"><span></span></a>
            <ul class="pcnavbar">
                <li id="ShowRules">წესები</li>
                <li id="ShowGifts">პრიზები</li>
                <li id="showRating">რეიტინგი</li>
                @*<li id="Start">დაიწყე თამაში</li>*@
            </ul>
        </div>
    </div>
    <div id="MainDiv">
        @RenderBody()

    </div>
    <div class="cmapigndivwrapper">
        <div>
            <div class="campaigndiv">
                <img src="~/Content/Imiges/storyofgod.png" />
                <span>უყურეთ ყოველ ორშაბათს</span>
                <span>22:45წთ</span>
            </div>
        </div>
    </div>

    <img class="freemanImg" src="~/Content/Imiges/freeman.png" />
    <footer>
        <div class="SocIcons">
            <a class="fb" target="_blank" href="https://www.facebook.com/silknet/"></a>
            <a class="you" target="_blank" href="@Url.Action("Index","Video")"></a>
        </div>
        <a class="creator" target="_blank" href="http://tbilisi.ddb.com/">
            შექმნილია
            <img src="~/Content/Imiges/Icons/betterflyico.png" />
        </a>
        <div class="AboutProject">
            <span>გადაცემის შესახებ</span>
            <div></div>
        </div>

    </footer>
    <div class="PopUpBack" style="display:block"></div>
    





    <div class="PopUp">
        <div class="FirstPopUp">
            <span class="FirstPopTopSpan">
                ჩაერთე გათამაშებაში ! 
            </span>
            <span class="FirstPopBottom">
               Silknet-ის და National Geographic-ის ერთობლივი გათამაშება დასრულდა!
                გათამაშების სამი გამარჯვებული, რომელიც 11 მაისს გამოვლიბდება, საჩურად მიიღებს ორკაციან საგზურს მისსავე არჩეულ ქვეყანაში!
                დაელოდეთ შედეგებს და კიდევ ერთხელ დარწმუნდით, რომ National Geographic-თან ერთად ყველაფერი უფრო ახლოსაა ვიდრე თქვენ გგონიათ!
              </span>
            <button id="FirstButton">შესვლა</button>
        </div>
    </div>
    <div class="MobileVideoWrapper">
        <div class="MobileVideo Videoluncher"  data-url="/Content/Videos/samxret amerika.mp4">
            <img class="MobTubn" src="~/Content/Imiges/VideoTubnails/Mobile1.png" />
            <img class="Mobplaysign" src="~/Content/Imiges/Icons/VideoPLaySign.png" />
        </div>
        <div  class="MobileVideo Videoluncher" data-url="/Content/Videos/egvipte.mp4">
            <img class="MobTubn"  src="~/Content/Imiges/VideoTubnails/mobile2.png" />
            <img class="Mobplaysign" src="~/Content/Imiges/Icons/VideoPLaySign.png" />
        </div>
        <div class="MobileVideo Videoluncher" data-url="/Content/Videos/USA.mp4">
            <img class="MobTubn"  src="~/Content/Imiges/VideoTubnails/Mobile3.png" />
            <img class="Mobplaysign" src="~/Content/Imiges/Icons/VideoPLaySign.png" />
        </div>
        <div class="MobileVideo Videoluncher" data-url="/Content/Videos/india.mp4">
            <img class="MobTubn"  src="~/Content/Imiges/VideoTubnails/Mobile4.png" />
            <img class="Mobplaysign" src="~/Content/Imiges/Icons/VideoPLaySign.png" />
        </div>
        <div class="MobileVideo Videoluncher" data-url="/Content/Videos/israeli.mp4">
            <img class="MobTubn"  src="~/Content/Imiges/VideoTubnails/Mobile5.png" />
            <img class="Mobplaysign" src="~/Content/Imiges/Icons/VideoPLaySign.png" />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76851054-1', 'auto');
  ga('send', 'pageview');

    </script>
    <script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
    <script src="~/Scripts/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script>        
       

   
    </script>
    <script id="VideoTemplate" type="text/template">
        <div class="PopUpVideo  PopUp">
            <div class="ContentWrapper">
                <div class="VideoPopUpHeader">
                    <img class="VideoCloseBut PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
                </div>
                <video class="video-js" controls preload="auto" data-setup="{}">
                    <source src="{Url}" type="video/mp4" />
                </video>
            </div>
        </div>
    </script>
    <script type="text/template" id="LoginPopUpTemplate">
        <div class="identificationPopUp PopUp">
            <div class="LoginWrapper">
                <div class="HeaderWrapper">
                    <span>შესვლა</span>
                    <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
                </div>

                <div class="Login">
                    <form>
                        <div class="InputGroupWrapper">
                            <span>შეიყვანეთ სილქნეტის აბონენტის ნომერი</span>
                            <input id="SilkToken" name="SilkToken" type="text" />
                        </div>
                        <div class="InputGroupWrapper">
                            <span>შეიყვანეთ პირადი ნომერი</span>
                            <input id="IDnumber" name="IDnumber" type="text" />
                        </div>
                        <div class="BottomGroup">
                            <div class="LinkToRules">
                                <img src="/Content/Imiges/Icons/MiniRulesIcon.png" />
                                <span>წესები</span>
                            </div>
                            <button type="button" id="loginSub">შესვლა</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>
    <script id="EnterDeteilsTemplate" type="text/template">
        <div class="LoginWrapper">
            <div class="HeaderWrapper">
                <span>შესვლა</span>
                <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
            </div>

            <div class="Login">
                <form id="EditionalInfo">
                    <div class="InputGroupWrapper">
                        <span>შეიყვანეთ სახელი და გვარი</span>
                        <input id="Name" name="Name" type="text" />
                    </div>
                    <div class="InputGroupWrapper">
                        <span>შეიყვანეთ ელ.ფოსტა</span>
                        <input id="Email" name="Email" type="text" />
                    </div>
                    <div class="BottomGroup">
                        <div class="LinkToRules">
                            <img src="/Content/Imiges/Icons/MiniRulesIcon.png" />
                            <span>წესები</span>
                        </div>
                        <button type="button" id="EditionalSend">შესვლა</button>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/template" id="UpselingTemplate">
        <div class="LoginWrapper">
            <div class="HeaderWrapper">
                <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
            </div>
            <div class="LightPacket">
                <span class="lightheader">გააკეთე “აფსელინგი”</span>
                <span class="LightMain">
                    იმისათვის, რათა შეძლოთ გათამაშებაში მონაწილეობის მიღება უნდა გადახვიდეთ  სილქნეტის მინიმუმ <span>ლაით</span> პაკეტის მომხმარებელი! მოიგეთ საგზური თქვენთვის სასურველი ადგილას!

                    მიჰყევით ბმულს:
                </span>
                <a href="https://my.silknet.com/services">აფსელინგი</a>
            </div>
        </div>
    </script>
    <script type="text/template" id="FinalStartTemplate">
        <div class="LoginWrapper">
            <div class="HeaderWrapper">
                <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
            </div>
            <div class="LightPacket">
                <span class="lightheader">შეგიძლია დაიწყო!</span>
                <span class="LightMain">
                    მოიგე! საგზური შენთვის  სასურველი ადგილას!

                    ითამაშე და გაემგზავრე!<br />
                    <span style="color: inherit;font-weight: bold;position: relative;top: 7px;">
                        გაითვალისწინეთ,
                        რომ თქვენ მხოლოდ ერთხელ შეგიძლიათ თამაში.
                    </span>
                </span>
                <button id="FinalStartbut">დაწყება</button>
            </div>
        </div>
    </script>
    <script type="text/template" id="ChouseGiftTemplate">
        <div class="giftChouseWrapper">
            <div class="HeaderWrapper">
                <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
            </div>
            <span class="giftchousetop">
                აირჩიე სასურველი ლოკაცია და გაემგზავრე
            </span>
            <div data-id="1" data-status="false" class="GiftWrapper">
                <img class="giftimg" src="/Content/Imiges/Gifts/esp.png" />
                <span class="gifttext">2 კაციანი საგზური ესპანეთში</span>
                <img class="giftChousen" src="/Content/Imiges/Icons/GiftChousen.png" />
            </div>
            <div data-id="2" data-status="false" class="GiftWrapper">
                <img class="giftimg" src="/Content/Imiges/Gifts/greece.png" />
                <span class="gifttext">2 კაციანი საგზური საბერძნეთში</span>
                <img class="giftChousen" src="/Content/Imiges/Icons/GiftChousen.png" />
            </div>
            <div data-id="3" data-status="false" class="GiftWrapper">
                <img class="giftimg" src="/Content/Imiges/Gifts/india.png" />
                <span class="gifttext">2 კაციანი საგზური ინდოეთში</span>
                <img class="giftChousen" src="/Content/Imiges/Icons/GiftChousen.png" />
            </div>
            <div data-id="4" data-status="false" class="GiftWrapper">
                <img class="giftimg" src="/Content/Imiges/Gifts/italy.png" />
                <span class="gifttext">2 კაციანი საგზური იტალიაში</span>
                <img class="giftChousen" src="/Content/Imiges/Icons/GiftChousen.png" />
            </div>
            <div data-id="5" data-status="false" class="GiftWrapper">
                <img class="giftimg" src="/Content/Imiges/Gifts/nepal.png" />
                <span class="gifttext">2 კაციანი საგზური ნეპალში</span>
                <img class="giftChousen" src="/Content/Imiges/Icons/GiftChousen.png" />
            </div>
            <div class="giftbuuttonWrapper">
                <button type="button" id="SaveGift">შემდეგი</button>
                <span class="errorspan">აირჩიეთ ლოკაცია</span>
                <div class="giftbootomwrapper">
                    <img src="/Content/Imiges/Icons/MiniRulesIcon.png" />
                    <span>
                        თქვენ ირჩევთ სასურველ ლოკაციას და მოგების შემთხვევაში მიემგზავრებით თქვენს მიერ არჩეულ ადგილას!
                    </span>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="QestionTemplate">
        <div class="QestionWrapper">
            <div class="QestionQounter">1</div>

            <div class="QestionInnerWrapper">
                <div class="QountDown">წამზომი ჩაირთო! <span class="Time">0:<span id="Timer">15</span></span></div>
                <div class="Qestion">
                    <span class="QestionHead">{Text}</span>
                    <div class="Unswearswrapper">

                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="UnswearButTemplate">
        <div data-id="{id}" class="Unswear">
            <span>{Text}</span>
        </div>
    </script>
    <script type="text/template" id="RulesTemplate">
        <div class="PopUp">
            <div class="Rules">
                <div class="HeaderWrapper">
                    <span class="RulesHead">წესები</span>
                    <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
                </div>
                <span class="RulesText">
                    1.	გათამაშებაში მონაწილეობისთვის აუცილებელია  იყოთ სილქნეტის (Silk TV-ის) აბონენტი და  მინიმუმ Light პაკეტის მომხმარებელი, რაც გულისხმობს, რომ არხების ჩამონათვალში გააქტიურებული უნდა გქონდეთ არხი  National Geographic Channel.<br />
                    2.	თუ არ გაქვთ გააქტიურებული არხი National  Geographic Channel , შეცვალეთ პაკეტი Light, Luxe, Deluxe, Deluxe HD პაკეტით და ...მიყევით ბმულს<a href="https://my.silknet.com/services" target="_blank"> https://my.silknet.com/services </a> ან დარეკეთ ცხელ ხაზზე .<br />
                    3. გათამაშებაში მონაწილეობისთვის უნდა გაიაროთ რეგისტრაცია, სადაც მიუთითებთ თქვენს „აბონენტის ნომერს“ (მომსახურების/ანგარიშის ნომერი) და თქვენივე პირად ნომერს, რომლეზეც მომსახურებაა დარეგისტრირებული.
                    გამარჯვებულმა უნდა წარმოადგინოს:
                    	პირადობის მოწმობა; (ID ბარათი)
                    	სილქნეტის ანგარიშის ნომერი; (აუცელებელია წარმოდგენილი პირადობის მოწმობის ნომერი ემთხვეოდეს ამ ანგარიშზე დარეგისტრირებულ პირადობის ნომერს)
                    	იმ შემთხვევაში, თუ სილქნეტის მომსახურება დარეგისტრირებულია ოჯახის წევრზე, უნდა წარმოადგინოთ ამ პირის პირადობის მოწმობა.

                    4.	ერთი აბონენტის ნომრით მხოლოდ ერთ ადამიანს შეუძლია გათამაშებაში მონაწილეობა.<br />
                    5.	გათამაშებაში იმარჯვებს ის, ვინც უმოკლეს დროში სწორად უპასუხებს მოცემულ კითხვებს და დააგროვებს ყველაზე მეტ ქულას<br />
                    6.	გაითვალისწინეთ, რომ თამაშის დაწყების შემდეგ თქვენ არ მოგეცემათ საშუალება შეაჩეროთ დრო ან შეწყვიტოთ თამაში და სხვა დროს გააგრძელოთ. ასეთ შემთხვევაში, თამაში ავტომატურად შეწყდება<br />
                    7.	გამარჯვებული გამოვლიდება ამავე ვებ-გვერდზე, 11 მაისს.

                </span>
                <button type="button" id="RulesStart">დაწყება</button>
                <span class="telpohone">
                    ცხელი ხაზი :
                    <span>2 100 100</span>
                </span>
            </div>
        </div>
    </script>
    <script type="text/template" id="AboutTemplate">
        <div class="PopUp">
            <div class="AboutPopUp">
                <div class="HeaderWrapper">
                    <span class="RulesHead">გადაცემის შესახებ</span>
                    <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
                </div>
                <div class="AboutTop">
                    <img src="/Content/Imiges/Icons/StoryOfGodBlack.png" />
                    <span>
                        „The story of god“ „National Geographic Channel“-ის შემეცნებით-სათავგადასავლო გადაცემაა. გადაცემის ავტორი და წამყვანი ყველასათვის ცნობილი ჰოლივუდის მსახიობი მორგან ფრიმანია. „The story of god“ -ის ყოველი ეპიზოდი ცივილიზაციებისა და განსხვავებული კულტურის შესახებ გვიამბობს. მორგან ფრიმენი ესწრება დღესასწაულებს, მონაწილეობს მსოფლიო ხალხთა რიტუალებში და ცდილობს, პასუხი გასცეს ყველა იმ შეკითხვას, რაც ადამიანს არსებობის მანძილზე ჰქონია. უყურეთ გადაცემას „The story of God”, იმოგზაურეთ მორგან ფრიმანთან ერთად დედამიწის გარშემო და ამოხსენით კაცობრიობის არსებობის უდიდესი საიდუმლო რწმენის, მეცნიერების, ანთროპოლოგიისა და ისტორიის გზაჯვარედინზე.                    </span>
                </div>
                <div class="AboutVideos">
                    <span class="AbpotVideoAnonnc">ვიდეოები</span>
                    <div class="AboutVideo Videoluncher" data-url="/Content/Videos/egvipte.mp4" data-name="ეგვიპტე">
                        <img class="AboutVideoImige" src="/Content/Imiges/VideoTubnails/Video1.png" />
                        <div>
                            <span class="Top">#storyofgod</span>
                            <span class="bot">ეპიზოდი პირველი</span>
                        </div>
                        <img class="AboutVideoPlaySign" src="/Content/Imiges/Icons/VideoPLaySign.png" />
                    </div>
                    <div class="AboutVideo Videoluncher" data-url="/Content/Videos/india.mp4" data-name="ეგვიპტე">

                        <img class="AboutVideoImige" src="/Content/Imiges/VideoTubnails/Video2.png" />
                        <div>
                            <span class="Top">#storyofgod</span>
                            <span class="bot">ეპიზოდი მეორე</span>
                        </div>
                        <img class="AboutVideoPlaySign" src="/Content/Imiges/Icons/VideoPLaySign.png" />
                    </div>
                    <div class="AboutVideo Videoluncher" data-url="/Content/Videos/israeli.mp4" data-name="ისრაელი">
                        <img class="AboutVideoImige" src="/Content/Imiges/VideoTubnails/Video3.png" />
                        <div>

                            <span class="Top">#storyofgod</span>
                            <span class="bot">ეპიზოდი მესამე</span>
                        </div>
                        <img class="AboutVideoPlaySign" src="/Content/Imiges/Icons/VideoPLaySign.png" />
                    </div>
                    <div class="AboutVideo Videoluncher" data-url="/Content/Videos/samxret amerika.mp4" data-name="სამხრეთ ამერიკა">
                        <img class="AboutVideoImige" src="/Content/Imiges/VideoTubnails/Video4.png" />
                        <div>
                            <span class="Top">#storyofgod</span>
                            <span class="bot">ეპიზოდი მეოთხე</span>
                        </div>
                        <img class="AboutVideoPlaySign" src="/Content/Imiges/Icons/VideoPLaySign.png" />
                    </div>
                    <div class="AboutVideo Videoluncher" data-url="/Content/Videos/USA.mp4" data-name="ამერიკა">
                        <img class="AboutVideoImige" src="/Content/Imiges/VideoTubnails/Video5.png" />
                        <div>
                            <span class="Top">#storyofgod</span>
                            <span class="bot">ეპიზოდი მეხუთე</span>
                        </div>
                        <img class="AboutVideoPlaySign" src="/Content/Imiges/Icons/VideoPLaySign.png" />
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="AboutGifts">
        <div class="PopUp">
            <div class="giftChouseWrapper GiftEbout">
                <div class="HeaderWrapper">
                    <span class="RulesHead">პრიზები</span>
                    <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
                </div>
                <span class="giftchousetop">

                </span>
                <div data-id="1" data-status="false" class="GiftWrapper">
                    <img class="giftimg" src="/Content/Imiges/Gifts/esp.png" />
                    <span class="gifttext">2 კაციანი საგზური ესპანეთში</span>
                </div>
                <div data-id="2" data-status="false" class="GiftWrapper">
                    <img class="giftimg" src="/Content/Imiges/Gifts/greece.png" />
                    <span class="gifttext">2 კაციანი საგზური საბერძნეთში</span>
                </div>
                <div data-id="3" data-status="false" class="GiftWrapper">
                    <img class="giftimg" src="/Content/Imiges/Gifts/india.png" />
                    <span class="gifttext">2 კაციანი საგზური ინდოეთში</span>
                </div>
                <div data-id="4" data-status="false" class="GiftWrapper">
                    <img class="giftimg" src="/Content/Imiges/Gifts/italy.png" />
                    <span class="gifttext">2 კაციანი საგზური იტალიაში</span>
                </div>
                <div data-id="5" data-status="false" class="GiftWrapper">
                    <img class="giftimg" src="/Content/Imiges/Gifts/nepal.png" />
                    <span class="gifttext">2 კაციანი საგზური ნეპალში</span>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="FinishTemplate">
        <div class="PopUp">
            <div class="LoginWrapper">
                <div class="HeaderWrapper">
                    <span class="RulesHead">შენი შედეგი</span>
                    <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
                </div>
                <div class="LightPacket">

                    <span class="LightMain">
                        გილოცავთ თქვენ წარმატებით დაასრულეთ თამაში. გამარჯვებული გამოვლინდება 6 მაისს. გისურვებთ წარმატებას!
                    </span>
                    <div class="Score">
                        შენ დააგროვე  <span class="BigCounter">{Points}</span> ქულა
                    </div>
                    <div class="Score EndTime">
                        შენ დრო  <span class="BigCounter">{min}:{Sec}</span> წთ
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="RePlay">

        <div class="LoginWrapper">
            <div class="HeaderWrapper">

                <img class="PopUpCloseBut" src="/Content/Imiges/Icons/VideoCloseIcon.png" />
            </div>
            <div class="LightPacket">

                <span class="LightMain">
                    სამწუხაროდ,<br /> თამაშში მონაწილეობის მიღება შეგიძლიათ მხოლოდ ერთხელ.
                </span>

            </div>
        </div>

    </script>
    <script type="text/template" id="ResultesClear"></script>
    <script type="text/template" id="ResulteTemplate"><tr class="TableFirsts">
    <td class="FirstRow"></td>
    <td>{Name}</td>
    <td>{Score}</td>
    <td>{Date}</td>
    <td>{Min}:{Sec}</td>
</tr>
    </script>
    <script type="text/template" id="TableHeadTemplate">

        <tr class="tableheade">
            <td></td>
            <td>სახელი და გვარი</td>
            <td>ქულა</td>
            <td>თარიღი</td>
            <td>დრო</td>
        </tr>
    </script>
    @Html.Action("Score", "Home");
    
</body>
</html>