﻿@model NatiGeo.Models.DAL.Qestion[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>admin</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <br />
        <a href="@Url.Action("Quesst", "admin")" class="btn btn-primary">Add Qestion</a>
        <br /><br />
        <table class="table table-bordered">
            <tr>
            <tr>
                <td>#</td>
                <td>text</td>
                <td></td>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.id</td> 
                    <td>@i.text</td>
                    <td>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu"> 
                                <li class="btn-danger"><a href="@Url.Action("Deleteqestion", "admin", new { id=i.id})">Delete Qestion</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
