﻿@model NatiGeo.Models.DAL.Qestion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quesst</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Qestion</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
               

                <div class="col-md-12">
                    <span>Qestion</span>
                    <input type="text" name="text"/>
                </div>
                <div class="col-md-12">
                    <span>unswers</span>
                    <div>
                        <input type="text" name="uns1" /> <span>right</span><input type="checkbox" name="chack1" />
                    </div>               
                       <div> 
                     <input type="text" name="uns2" /> <span>right</span><input type="checkbox" name="chack2" />
                       </div>
                    <div>
                     <input type="text" name="uns3" /> <span>right</span><input type="checkbox" name="chack3" />
                    </div>
                    <div> 
                    <input type="text" name="uns4" /> <span>right</span><input type="checkbox" name="chack4" />
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
