﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ერთხელ უდაბნოში!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="BetterFly | DDB Tbilisi">
    <meta property="og:url" content="http://storyofgod.ge/video" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ერთხელ უდაბნოში!" />
    <meta property="og:description" content="ცხელ უდაბნოში მარტო დარჩენა სარისკო და საშიშია. განსაკუთრებით მაშინ, როცა არ იცი, როგორ უნდა მოიქცე, რადგან National Geographic Channel-ს არ უყურებ. გადაცემა “The Story of God” გთავაზობთ ინტერაქციულ ვიდეოს, რომლის მხოლოდ ყურება არ კმარა" />
    <meta property="og:image" content="http://storyofgod.ge/Content/Imiges/share.jpg" />
    <link rel="shortcut icon" href="http://storyofgod.ge/favicon.ico" />
    <link rel="stylesheet" href="">
    <link href="~/Content/Video.css" rel="stylesheet" />
</head>
<body>
    <div class="video-container">
        <video id="video" controls="controls" autoplay>
            <source src="~/Content/Videos/vid.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <canvas id="myCanvas"> </canvas>
    </div>

    <script>
		function pauseOn(vid,sec){
			vid.ontimeupdate = function(){
				if(this.currentTime>=sec){
					vid.pause();
					vid.ontimeupdate = function(){
						return;
					}
				}
			}
		}
		function drawOn(vid,sec,ctx,els){
			vid.ontimeupdate = function(){
				if(this.currentTime>=sec){
					els.forEach(function(element) {
						ctx.fillStyle = element.colour;
						ctx.fillRect(element.left*scaleX, element.top*scaleY, element.width*scaleX, element.height*scaleY);
						isShown = true;
					});
				}
			}
			// Render elements.
		}
		function listenButtons(vid){
			vid.ontimeupdate = function(){
				var t = this.currentTime;
				//console.log(t);
				if((t>=67 && t<=94) || (t>=169 && t<=201) || (t>=288 && t<=316) || (t>=377 && t<=409.5) || (t>=472 && t<=500) || (t>=575 && t<=606) || (t>=702 && t<=727) || (t>=771 && t<=796)){
					isShown = true;
				}
				else if(t>=835){
					vid.currentTime = 461.15;
				}
				else{
					isShown = false;
				}
			}
		}
		function logFrame(vid){
			vid.pause();
			console.log(vid.currentTime);
		}
		//recalculate scale coeficients
		function resize() {
			scaleX = container.offsetWidth/1200,
			scaleY = container.offsetHeight/675;
		}
		var video = document.getElementById('video');
		var elem = document.getElementById('myCanvas');
		var container = document.getElementsByClassName('video-container')[0];
		var isShown = false;
		var scaleX = 1,scaleY = 1;
		var context = elem.getContext('2d'),
		elemLeft = container.offsetLeft,
		//elements = [];
		elements =[
		{
			colour: '#05EFFF',
			width: 340,
			height: 70,
			top: 95,
			left: 85,
			startTime: 96,
		},
		{
			colour: '#05EFFF',
			width: 340,
			height: 70,
			top: 195,
			left: 85,
			startTime: 203
		},
		{
			colour: '#05EFFF',
			width: 340,
			height: 70,
			top: 300,
			left: 85,
			startTime: 319
		},
		{
			colour: '#05EFFF',
			width: 340,
			height: 70,
			top: 400,
			left: 85,
			startTime: 411
		},
		{
			colour: '#05EFFF',
			width: 340,
			height: 70,
			top: 95,
			left: 768,
			startTime: 502
		},
		{
			colour: '#05EFFF',
			width: 340,
			height: 70,
			top: 195,
			left: 768,
			startTime: 797
		},
		{
			colour: '#05EFFF',
			width: 340,
			height: 70,
			top: 300,
			left: 768,
			startTime: 607
		},
		{
			colour: '#05EFFF',
			width: 340,
			height: 70,
			top: 400,
			left: 768,
			startTime: 728
		}
		];
		video.oncanplay  = function(){
			elem.height = video.offsetHeight;
			elem.width  = video.offsetWidth;
			elemTop = video.offsetTop,
			scaleX = video.offsetWidth/1200,
			scaleY = video.offsetHeight/675;
		// Add event listener for `click` events.
		elem.addEventListener('click', function(event) {
			var x = event.pageX - container.offsetLeft,
			y = event.pageY - container.offsetTop;
			console.log(x, y);
			elements.forEach(function(element) {
				if (y > element.top*scaleY && y < (element.top + element.height)*scaleY && x > element.left*scaleX && x < (element.left + element.width)*scaleX && isShown) {
					video.currentTime = element.startTime;
					video.play();
					isShown = false;
				}
			});

		}, false);
		elements.forEach(function(element) {
			//context.fillStyle = element.colour
			context.globalAlpha=0;
			context.fillRect(element.left*scaleX, element.top*scaleY, element.width*scaleX, element.height*scaleY);
		});
			//Add element.
			video.play();
			listenButtons(video);
			window.onresize = resize;
		}
		video.onplay = function() {
    		video.style.zIndex=100
		};
		//on document ready
		//video.currentTime = 75;
		//drawOn(video,70,context,elements);
		// video.play();
		// listenButtons(video);
		// window.onresize = resize;

    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76851054-1', 'auto');
  ga('send', 'pageview');

    </script>

</body>
</html>